<div class="modal-header">
    <h3 class="modal-title"> <i class="glyphicon glyphicon-trash" ></i> Borrar animal</h3>
</div>
<div class="modal-body">
 
      <div class="row" >
        <div class="form-group">
          <div class="col-sm-12">
            Para borrar este grupo debe primero borrar los animales que contiene
          </div>  
        </div>
      </div>
</div>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" id="no"ng-click="cancel()">Salir</button>
<!--     <button class="btn btn-danger" ng-click="okConfirm(item)">Si</button> -->
</div>